@using Web.App_Code
@model Web.Areas.Admin.ViewModels.MF.ProductCatCRUD
@{
    ViewBag.Title = Model.Name  ;
    Layout = "~/Views/Shared/_bootstrap_modal.cshtml";
}
<div class="modal-body">
    @using (Ajax.BeginForm("EditProccess", "ProductCat", FormMethod.Post, new AjaxOptions { OnSuccess = "fnOnSuccess" }))
    {
        @Html.AntiForgeryToken()
        <div class="show_err" style="color:red;">
            @Html.ValidationSummary(false)
        </div>
        @Html.HiddenFor(model => model.Id)
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
           
            <div class="form-group">
                @Html.RequiredLabelFor(model => model.QuanId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.QuanId, Model.ddlQuan, "-Chọn quán-", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.QuanId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="card">
                <div class="header bg-blue-grey">
                    <h2>
                        Hình ảnh <small>Tải ảnh lên...</small>
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);">
                                <i class="material-icons">mic</i>
                            </a>
                        </li>
                        @*<li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                        </ul>
                    </li>*@
                    </ul>
                </div>
                <div class="body">
                    @Html.TextBoxFor(model => model.ImageThumbnail, new { @class = "form-control", @style = "display: none;" })
                    <div class="ajaxImg text-center" style="position: relative;">
                        @if (!string.IsNullOrWhiteSpace(Model.ImageThumbnail))
                        {
                            <img alt="User Pic" src="@Model.ImageThumbnail" id="profile-image1">
                        }
                        else
                        {
                            <img alt="User Pic" src="http://icons.iconarchive.com/icons/dryicons/aesthetica-2/128/image-up-icon.png" id="profile-image1">
                        }
                        <input id="profile-image-upload" class="hidden" type="file" data-val="#ImageThumbnail" />
                        <div style="color:#999;">@mui.mui.click_here_change_image</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal-footer">
         
            <button type="button" class="btn btn-danger pull-left" onclick="clsMenu.fnDelete(@Model.Id);">@mui.mui.delete</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">@mui.mui.cancel</button>
            <button type="submit" class="btn btn-primary">@mui.mui.save</button>
        </div>

    }
</div>
<script>
    function fnOnSuccess(data) {
        if (data.r) {
            $('#modalCRUD').modal('hide');
            cls.fnReload();
        } else {
            toastr.error(data.m);
        }
    }
    $(function () {
        $('#profile-image1').on('click', function () {
            $('#profile-image-upload').click();
        });
    });
    $("#profile-image-upload").change(function () {
        var formData = new FormData();
        var returnVal = $($(this).data("val"));
        var totalFiles = document.getElementById("profile-image-upload").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("profile-image-upload").files[i];
            formData.append("profile-image-upload", file);
            formData.append("pathAppSettings", "path_img_product_cat");
            if ($("#cbCLC").is(":checked")) {
                formData.append("sw", "2000");
                formData.append("sh", "2000");
            }
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadImg","Ajax",new{area="Admin"})',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                $("#profile-image1").attr("src", response.v);
                returnVal.val(response.v);
            },
            error: function (error) {
                alert("errror");
            }
        });
    });
</script>
